# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
*.code-workspace

# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log

# .NET Core
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates 